---
apiVersion: v1
kind: Service
metadata:
  name: kube-state-metrics
  namespace: otel-demo
  labels:
    app.kubernetes.io/name: kube-state-metrics
spec:
  selector:
    app.kubernetes.io/name: kube-state-metrics
  ports:
    - name: http-metrics
      port: 8080
      targetPort: 8080